<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>异常统一处理页面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/weui.css"/>
    <link rel="stylesheet" href="../css/weuix.css"/>
</head>
<body ontouchstart style="background-color: #F3F3F3;">
<div class="page">
         <div class="weui-msg">
             <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
             <div class="weui-msg__text-area">
                 <h2 class="weui-msg__title">操作失败</h2>
             </div>
             <div class="weui-msg__tips-area">
                 <p class="weui-msg__tips" th:text="${msg}">
                     <a href="javascript:index();">返回首页</a>
                 </p>
             </div>
             <div class="weui-msg__extra-area">
                 <div class="weui-footer">
                     <p class="weui-footer__links">
                         <a href="javascript:index();" class="weui-footer__link">返回主页</a>
                     </p>
                     <p class="weui-footer__text">郑州励格信息技术有限公司</p>
                     <p class="weui-footer__text">Copyright 版权所有 © 应天海乐  www.zzlige.com  豫ICP备19035546号</p>
                 </div>
             </div>
         </div>
     </div>

</body>
<script src="../js/common/jquery.min.js"></script>
<script src="../js/common/zepto.min.js"></script>
<script src="../js/common/jqsession.js"></script>
<script src="../js/exception/error.js"></script>
</html>