<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误提示</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/weui.css"/>
    <link rel="stylesheet" href="../css/weuix.css"/>
</head>
<body ontouchstart style="background-color: #F3F3F3;">
<div class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area" style="height: 100px"><img src="../images/error.png" style="height: 70px"></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">操作失败</h2>
        </div>
        <div class="weui-msg__tips-area">
          <p class="weui-msg__tips">404 页面走丢了<a href="javascript:index();">返回首页</a></p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:index();" class="weui-footer__link">返回主页</a>
                </p>
                <p class="weui-footer__text">************公司</p>
                <p class="weui-footer__text">Copyright 版权所有 © 应天海乐  www.******.com  豫ICP备1*******号</p>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/zepto.min.js"></script>
<script src="../js/jqsession.js"></script>
<script src="../js/exception/error.js"></script>
</html>